@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Rubik+Mono+One&display=swap");

* {
  margin: 0;
  padding: 0;
}

body {
  font-family: "Roboto", sans-serif;
  background-color: rgb(151, 201, 52);
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

/* Header */
.encabezado {
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 100px;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.2);
}

.encabezado h1 {
  text-transform: uppercase;
  font-weight: 700;
  text-shadow: 1px 1px 2px rgb(238, 7, 7);
  font-size: 2.5rem;
}

.encabezado h1:hover {
  cursor: pointer;
}

.rojo {
  color: rgb(238, 7, 7);
}

.boton {
  background-color: rgb(238, 7, 7);
  color: #572525;
  font-weight: 700;
  border: none;
  padding: 10px 20px;
  font-size: 1.2rem;
}

.boton:hover {
  background-color: rgb(187, 27, 27);
  color: #fafafa;
  cursor: pointer;
}

.Logo {
  width: 150px;
}

nav ul li {
  list-style: none;
  display: inline-block;
  margin: 0 10px;
}

.encabezado li {
  list-style-type: none;
  display: inline-block;
}

.encabezado li a {
  text-decoration: none;
  color: black;
  margin: 10px;
  font-size: 1.5rem;
}

.encabezado li a:hover {
  color: rgb(238, 7, 7);
}

/* Banner */
.banner {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}

.negro {
  color: black;
}

.banner::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.2);
  z-index: 0;
}

.bannerContenido {
  z-index: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 20px;
}

.bannerContenido h2 {
  font-size: 2rem;
  font-weight: bold;
  color: #fafafa;
  margin-bottom: 10px;
}

.bannerContenido p {
  color: #fafafa;
  font-size: 4rem;
  text-transform: uppercase;
  font-weight: 700;
  font-family: "Rubik Mono One", sans-serif;
  margin-bottom: 20px;
  text-align: center;
}

.bannerContenido .boton {
  margin-top: 10px;
}

/* Nosotros */
.nosotros {
  text-align: center;
  margin: 10vh;
  border-bottom: 1px solid black;
}

.nosotros h3 {
  color: rgb(61, 9, 9);
  text-transform: uppercase;
  font-size: 3rem;
}

.nosotros p {
  font-size: 4rem;
  color: rgb(156, 49, 49);
  padding: 10px;
}

.contenedornosotros {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
}

.tarjeta {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: rgb(55, 117, 55);
  border: 1px solid rgb(57, 68, 57);
  padding: 20px;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.2);
  margin: 10px;
}

.tarjeta img {
  max-width: 100%;
}

.tarjeta p {
  margin: 10px 0;
}

/* Productos */
.productos {
  border: 1px solid #ccc;
  border-radius: 10px;
  padding: 20px;
  text-align: center;
}

.productos p {
  font-size: 4rem;
  color: rgb(156, 49, 49);
  padding: 10px;
}

/* Tablas */
.contenedorTablas {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
}

/* Main */
main {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
}

/* Footer */
.footer {
  background-color: #212121;
  color: #fff;
  padding: 20px 0;
}

.footerContenido {
  display: flex;
  justify-content: space-between;
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 20px;
}

.footer h4 {
  font-size: 1.5rem;
  margin-bottom: 10px;
}

.infoContacto p {
  margin: 5px 0;
  font-size: 1.2rem;
}

.redesSociales a {
  margin: 5px 0;
  font-size: 1.2rem;
  color: #7AB730;
  text-decoration: none;
  margin-right: 10px;
  font-size: 1.5rem;
}

.redesSociales a:hover {
  color: #28a745;
}

.footer i {
  margin-right: 10px;
}


/*Vista tablet*/
/*768px hasta 1023px*/
@media (max-width: 1023px) {

  /*Header*/
  .encabezado {
    height: auto;
    flex-direction: column;
    text-align: center;
  }

  .encabezado .boton {
    display: none;
  }

  /*Banner*/
  .bannerContenido p {
    font-size: 2.5rem;
  }

  /*Nosotros*/
  .nosotros {
    margin: 5vh;
    font-size: 2rem;
  }

  .nosotros h3,
  .nosotros p {
    font-size: inherit;
  }

  .contenedornosotros {
    grid-template-columns: 1fr;
  }

  /*Footer*/
  .footerContenido {
    flex-direction: column;
    text-align: center;
  }
}

/*Ajustes específicos para la vista móvil*/
/*0 hasta 768px*/
@media (max-width: 768px) {

  /*Nosotros */
  .contenedornosotros {
    grid-template-columns: 1fr;
  }
}

/*# sourceMappingURL=estilo.css.map */