/* Nosotros */

.nosotros {
    text-align: center;
    margin: 10vh;
    border-bottom: 1px solid black;

    h3 {
        color: rgb(61, 9, 9);
        text-transform: uppercase;
        font-size: 3rem;
    }

    p {
        font-size: 4rem;
        color: rgb(156, 49, 49);
        padding: 10px;
    }
}
 

.contenedornosotros {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
}

.tarjeta {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: rgb(55, 117, 55);
    border: 1px solid rgb(57, 68, 57);
    padding: 20px;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.2);
    margin: 10px;

    img {
        max-width: 100%;
    }

    p {
        margin: 10px 0;
    }
}