@mixin boton($background-color, $color) {
    background-color: $background-color;
    color: $color;
    font-weight: 700;
    border: none;
    padding: 10px 20px;
    font-size: 1.2rem;
    &:hover {
      background-color: darken($background-color, 10%);
      color: #fafafa;
    }
  }

  